* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  transition: all 1s;
}

.App {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.342);
  align-items: center;
  justify-content: space-between;
  /* width: 90%;
  margin: 0px auto;
  border-radius: 20px; */
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  height: 90%;
}

.country-container {
  width: 200px;
}

h2 {
  color: rgb(82, 82, 82);
}

header,
.content-container {
  margin: 10px;
}

.circle-logo {
  width: 30px;
  height: 30px;
  background: linear-gradient(blue, purple);
  border-radius: 50%;
  margin-top: 30px;
}

p {
  text-align: justify;
  padding-top: 20px;
  padding-right: 20px;
}
